@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.body_bg{
    background-color: #f7f5f0;
    font-family: "Roboto", sans-serif;

}

body {
    font-family: "Roboto", sans-serif;
}


   /* Style for the scroll to top button */
   .scroll-to-top {
    display: none; /* Initially hidden */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff; /* Blue color, change as needed */
    color: #fff; /* Text color */
    border: none;
    border-radius: 30%;
    width: 3rem;
    height: 3rem;
    font-size: 24px;
    cursor: pointer;
    z-index: 99; /* Ensure it's on top of other elements */
  }
.main-navbar {
    background-color: #D6CFC4;
}


.borderStyle{
    border: 1px solid black;
    padding: 4px;
    border-radius: 20%;
    background-position: center;
}

.fixImgSize{
    background-color: #f7f5f0;
}

.fixedImage{
    background-image: url(image/Asset\ 1.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
            
    }
    .fixedImgtext{
        text-align: center;
        /* padding-top: 50px; */
        padding-top: 10rem;
    }
.info_cards{
    background-color: #f7f5f0;
}
.cardTitleUpdate{
    background-color: #D6CFC4;
    color: black;
    padding: 2px 0px 2px 0px ;
    text-align: center;
    /* margin-top: 50px; */
}
.cardUpdateSec{
    background-color: #f7f5f0;

}

.card_see_more{
    float: right;
}
.card_see_more a{
    text-decoration: none;
    color: #b3d7ed;
    background-color: #0e5ef1;
    padding: 4px;
    border: 1px solid thistle;
    border-radius: 5px;
}
.contact_style{
    padding-top: 5px;
    padding-bottom: 5px;
}


/* If only Needed the background color */
.navbgHover:hover{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}



.link-hover:hover{
    text-decoration: underline;
    color: blue;
}





/* Profile Section Style here */
.pageTitle{
  color: black;
  padding: 2px 0px 2px 0px ;
  text-align: center;
}

.profileMainDiv{
    /* background-color: #b3d7ed; */
    /* padding: 5px; */   
     margin-top: 3rem;

  }
  /* .profileSecDiv{
    
  } */

/* .profileinfoMdiv{



} */
.profileInfo{
    /* padding-bottom: 5rem; */
        border: 3px solid gray;
            border-radius: 1rem;
                margin-bottom: 2rem;
                
}
.profImgDiv{
    /* background-color: #0e5ef1; */
    padding-top: 4rem;
    padding-bottom: 4rem;
    

}
.alignCenterProfile{  
 
    display: block;
    margin: auto;
        /* margin-top: 5rem; */
}

.profileInfo{

        display: block;
        flex-direction: row;
        justify-content: center;
        align-items: inherit;
        /* height: 100vh; */
        /* This makes it take up the full viewport height */
        /* text-align: center; */
}

.infoDiv{
    /* padding-bottom: 2rem; */
    /* padding-left: 15px;
        padding-top: .5rem; */
        border: 1px solid black;
      
        border-radius: 10px;
        margin: 1rem 0;
        padding: px;

}

.prof_infoTitle{
    
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    /* border-right: 1px solid black; */
    width: 40%;
    padding-left: .5rem;
    
}
.prof_info{
    
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    width: 60%;
    padding-left: 1rem;
    border-left: 1px solid black;


}






/* update profile section design */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  } */
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    background: #1BB295;
  }
  form {
    padding: 25px;
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  }
  form h2 {
    font-size: 27px;
    text-align: center;
    margin: 0px 0 30px;
  }
  form .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  form label {
    display: block;
    font-size: 15px;
    margin-bottom: 7px;
  }
  form input,
  form select {
    height: 45px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
  }
  form input:focus,
  form select:focus {
    border-color: #9a9a9a;
  }
  form input.error,
  form select.error {
    border-color: #f91919;
    background: #f9f0f1;
  }
  form small {
    font-size: 14px;
    margin-top: 5px;
    display: block;
    color: #f91919;
  }
  form .password i {
    position: absolute;
    right: 0px;
    height: 45px;
    top: 28px;
    font-size: 13px;
    line-height: 45px;
    width: 45px;
    cursor: pointer;
    color: #939393;
    text-align: center;
  }
  .submit-btn {
    margin-top: 30px;
  }
  .submit-btn input {
    color: white;
    border: none;
    height: auto;
    font-size: 16px;
    padding: 13px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background: #1BB295;
    transition: 0.2s ease;
  }
  .submit-btn input:hover {
    background: #179b81;
  }


