@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.body_bg{
    background-color: #eee8dd;
}

body {
    font-family: "Roboto", sans-serif;
}

.main-navbar {
    background-color: #D6CFC4;
}


.borderStyle{
    border: 1px solid black;
    padding: 4px;
    border-radius: 20%;
    background-position: center;
}

.fixImgSize{
    background-color: #eee8dd;
}

.fixedImage{
    background-image: url(image/Asset\ 1.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
            
    }
    .fixedImgtext{
        text-align: center;
        /* padding-top: 50px; */
        padding-top: 10rem;
    }
.info_cards{
    background-color: #eee8dd;
}
.cardTitleUpdate{
    background-color: #D6CFC4;
    color: black;
    padding: 2px 0px 2px 0px ;
    text-align: center;
    /* margin-top: 50px; */
}
.cardUpdateSec{
    background-color: #eee8dd;

}

.card_see_more{
    float: right;
}
.card_see_more a{
    text-decoration: none;
    color: #b3d7ed;
    background-color: #0e5ef1;
    padding: 4px;
    border: 1px solid thistle;
    border-radius: 5px;
}
.contact_style{
    padding-top: 5px;
    padding-bottom: 5px;
}